:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-size: cover;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/images/background1.jpg") center/cover fixed no-repeat;

  /* background: var(--lightBlue);    */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2vh 2vw;
  margin: 10vh 20vw;
  width: auto;
  border-radius: 0.5rem;
  background-color: rgba(42, 42, 114, 0.6) !important;
}

.direction {
  display: flex;
  flex-direction: row;
}

.dropdown {
  width: 20vw;
  height: 2rem;
  border-radius: 0.4rem;
  margin: 0.3rem;
}
